        * {


            font-family: "Source Sans 3", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;


        }

        body {
            background-color: #111;
            color: #fff;
            font-family: sans-serif;
            width: 1300px;
            margin: auto;
        }

        .mood {
            border: 2px solid #cbba9a;
            padding: 1rem;
            display: flex;
            position: absolute;
            left: 100%;
            border-radius: 10px;
        }

        #light,
        #black {
            background-color: transparent;
            border: none;
        }

        header {
            margin-top: 2rem;
        }

        header a {
            font-weight: bold;
            color: #F5C518;
            margin-right: 1rem;
        }

        .header {
            display: flex;
            align-items: center;
            gap: 1rem;
        }

        .logo {
            width: 5%;
            margin-right: 8rem;

        }

        .logo img {
            width: 100%;
        }

        .header li {
            list-style: none;
            width: 15%;
            font-size: 1.5rem;
        }

        header ul li {
            width: 100% !important;
        }


        .overlay-header {
            position: absolute;
            height: 70vh;
            background-color: #6d869bd4;
            width: 100%;
            z-index: 555;
            top: 10%;
            text-align: center;
            border-radius: 10px;
        }

        .search {
            display: flex;
            align-items: center;
            width: 75%;
            position: relative;
            top: 20%;
            /* transform: translateY(-50%); */
            left: 10%;
        }

        .search-input {
            padding: 0.5em;
            border: 1px solid #fff;
            border-radius: 5px;
            margin-right: 0.5em;
            width: 80%;
            margin-left: 1rem;
        }

        .search-button {
            background-color: #fff;
            color: #111;
            border: none;
            padding: 0.5em;
            border-radius: 5px;
            cursor: pointer;
            width: 15%;
        }

        #icon-search {
            cursor: pointer;
        }

        .nav {
            display: flex;
            width: 20%;

        }

        .nav .nav-item {
            margin-right: 1em;
            text-decoration: none;
            color: white;
            font-size: 1.5rem;
        }

        header .watch {
            color: #81a9df;
            font-size: 1.5rem;
            text-decoration: none;
        }


        .main {
            width: 100%;
            margin-top: 3rem;
        }

        .content {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        #cards-detail {
            display: flex;
            padding: 0rem;
            margin-top: 3rem;
        }

        #cards-trending {
            background-color: transparent;
            border-radius: 20px;
            color: #ffffff;
        }

        .img {
            width: 60%;
            margin-right: 1rem;
            max-height: 45vh;
            position: relative;
        }

        .img button {
            position: absolute;
            border: none;
            background-color: transparent;
            /* color: #ffff00; */
            font-size: 2.5rem;
            left: 0;
        }

        .img img {
            width: 100%;
            height: 100%;
        }

        .info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .trending-rec,
        .images {
            display: flex;
            overflow: hidden;
            overflow-x: auto;
            margin-top: 3rem;
            padding-bottom: 1rem;

        }


        h1 {
            border-left: 6px solid yellow;
            padding-left: 1rem;
            margin-top: 2rem;
        }

        .trending {
            overflow-x: auto;
            padding-bottom: 2rem;
        }

        .credit #cards,
        #show {
            display: flex;
            gap: 1rem;
            border-radius: 11px;


        }

        .credit #cards .card-cast,
        .card-rec {
            border: 3px solid;
            border-radius: 11px;
            height: 25vh;
        }

        .card-rec {
            width: 12vw;
        }

        .card-rec {
            width: 12vw;
        }

        .credit #cards .card-cast img,
        .card-rec img {
            height: 80%;

        }

        .credit #cards .card-cast a {
            text-decoration: none;
            color: #dfc012;
            font-size: 1rem;
            padding-left: .3rem;

        }

        ::-webkit-scrollbar {
            height: 10px;
            width: 4px;
            background: rgb(128, 128, 128);
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
            border-radius: 10px;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #0310ca;

        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #c79b9b;
        }

        ::-webkit-scrollbar-thumb:horizontal {
            background: #557c81;
            border-radius: 10px;
        }

        #cards-recommends,
        #cards-images,
        #cards-rec {
            display: flex;
            gap: 0.5em;
            margin-bottom: 1.5rem;

        }

        .card,
        .card-rec {
            width: 10vw;

        }

        #cards-images .card {
            width: 15vw;
        }

        .card a {
            text-decoration: none;
            color: black;
            font-weight: 700;

        }

        .trending {
            display: flex;
            overflow: hidden;
            overflow-x: auto;
            margin-top: 3rem;
            padding-bottom: 1rem;

        }

        #cards-rec {
            display: flex;
            gap: 0.5em;
            margin-bottom: 1.5rem;

        }

        #cards-rec .card {
            width: 12vw;
            border: none;
            background-color: transparent;
            color: white;

        }

        .card img {
            height: 335px;
        }

        #cards-rec .card a {
            color: rgb(236, 186, 22);
        }

        #cards-rec .card p {
            border-radius: 50%;
            width: 16%;
            height: 11%;
            font-size: 1rem;
            padding: 10px 0px;
            position: absolute;
            top: 0;
            color: #f7f7f7;
            background-color: #30597d;
            left: 80%;
            text-align: center;
        }

        .review {
            border: 3px solid #f3e300;
            padding: 10px;
            margin-bottom: 10px;
            margin-left: 20rem;
            min-height: 216px;
            max-height: 216px;
            border-radius: 10px;
        }

        .user-info {
            display: flex;
            align-items: center;
        }

        .user-avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 10px;
        }

        .user-name {
            font-weight: bold;
        }

        .review-content {
            margin-top: 10px;
            overflow-y: auto;
            max-height: 11vh;
        }

        .rating {
            background-color: #f0f0f0;
            padding: 5px 10px;
            border-radius: 5px;
            display: inline-block;
            margin-right: 10px;
        }

        .rating-value {
            font-weight: bold;
        }

        .tv-link {
            color: black !important;
            background-color: white !important;
            border-radius: 23px !important;
            padding: 0.5rem 1rem !important;
        }